#Container {
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:21px;
}
#Header {
	width:800px;
	height:200px;
	background:url(../ImageFolder/crplum4.jpg) no-repeat top center;
}
#Menu {
	height:60px;
	background-color:blue;
}
#SideBar {
	width:150px;
	height:400px;
	background-color:powderblue;
	float:left;
}
#MainBody {
	width:650px;
	height:400px;
	background-color:navy;
	float:right;
}
#Footer {
	height:100px;
	background:#CCC;
	clear:both;
}
