body{
	font: 15px/1.5 Arial, Helvetica, san-serif;
	padding:0;
	margin:2%;
	background-color:#f4f4f4;
}

.navbar{
	background-color: #3b5998;
	overflow: hidden;
	height: 63px;
	width: 92%;
	align-content: center;
	/*margin: auto;*/
}

.navbar a{
	float: left;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.navbar ul{
	margin: 8px 0 0 0;
	list-style: none;
}

.navbar a:hover{
	background-color: #ddd;
	color: #000;
}

.side-nav{
	text-align: left;
}

.side-nav{
	height: 60%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 5;
	background-color: #111;
	opacity: 0.8;
	overflow-x: hidden;
	padding-top: 40px;
	transition: 0.5s;
	align: left;
}

.side-nav a{
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 14px;
	color: #FFFFFF;
	display: block;
	transition: 0.3s;
}

.side-nav a:hover{
	color: #fff;
}

.side-nav .btn-close{
	position: absolute;
	top: 0;
	right: 26px;
	font-size: 22px;
	margin-left: 50px;
}

/*#main{
	transition: margin-left 0.5s;
	padding: 20px;
	overflow: hidden;
	width: 100%;
}*/

/*Global */
.container{
	width:80%;
	height:100%;
	align-content: center;
	overflow:hidden;
}

div.container {
  text-align: left;
}

.line{
	width:80%
}

ul {
	margin:0;
	padding:10;
}

.button_1{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.purple{
	padding:15px;
	background:#9370DB;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:8px;
}

.navy{
	padding:15px;
	background:#181256;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:8px;
}

/* Header */
header{
	background:#181256;
	color:#ffffff;
	padding-top:15px;
	min-height:10px;
	border-bottom:#308866 5px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

header .container{
	/*text-align: center;*/
	margin: auto;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branding{
	float: left;
}

header .branding{
	color:#00FF00;
	text-transform:uppercase;
	font-size:24px;
}

header nav {
	float:right;
	margin-top:15px;
}

header .highlight, header .current a{
	color: #00FF00;
	font-weight:bold;
}

header a:hover{
	color:#00f9f2;
	font-weight:bold;
}

/* showcase */
#showcase {
	min-height:400px;
	background-image:url("../img/codep2.jpg");
	background-repeat:no-repeat;
    background-size: 100% 100%;
	text-align:center;
	color:#00FF00;
	border-bottom:#308866 5px solid;
}

#showcase h1{
	margin-top:60px;
	font-size:36px;
	margin-bottom:10px;
	color:#00FF00;
	text-align: center;
}

#showcase h2{
	font-size:24px;
	color:#00FF00;
	text-align: center;
}

/* Boxes */
#boxes{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

#showcase .container{
	margin: auto;
}

#boxes .container{
	margin: auto;
}

#main .container{
	margin: auto;
}

#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	height:280px;
	padding:5px;
	border:10px solid #B0E0E6;
	background-color:#FFFFFF;
}

/* img size: w-230px=>250px, h-150px=>170px */
#boxes .box img{
	width: 250px;
	height: 170px;
	width: 100%
}

h1 {
    text-align:center;
    font-size: 22px;
    color: #008B8B;
    margin-top: 0.67em;
}

/* Sidebar */
aside#sidebar{
	float:right;
	width:30%;
	margin-top:40px;
}

aside#sidebar input,
aside#sidebar button,
aside#sidebar textarea{
	width:80%;
	margin-bottom:5px;
}

/* Main-col*/
article#main-col{
	float:left;
	width:65%;
	margin-left: auto;
	margin-right: auto;
}

hr {
height: 5px;
background-color: #308866;
border: none;
}

pre {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #F0FFF0;
	border: 1px; 
	text-align: left;
    white-space: pre-line;
}

pre code {
	padding: 10px;
	color: #333;
}

footer {
	padding:5px;
	margin-top:5px;
	margin-bottom:0px;
	color:#ffffff;
	background-color:#308866;
	text-align:center;
}

/* Media Queries*/
@media(max-width:768px){
	.navbar-nav{
		display: none;
		width: 0;
	}
}

@media(max-width:768px){
	boxes #container{
		/*margin: auto;*/
		align-content: center;
	}
}

@media(min-width: 768px){
	/*.open-slide{display: none}
}*/

@media(max-width:768px){
	.boxes{
		  display: block;
		  box-align: center;
		  margin-left: auto;
		  margin-right: auto;
		  width: 40%;
	}
}

@media(max-width:768px){
	.responsive {
  		width: 100%;
  		height: auto;
	}
}

@media(max-width:768px){
	header #branding,
	header nav,
	header nav li,
	footer,
	pre,
	/*#newsletter h1,
	#newsletter form,*/
	#boxes .box,
	article#main-col,
	article#coding,
	aside#sidebar{
		float:none;
		text-align:left;
		width:auto;

	}
	
	header{
		padding-bottom:10px;
	}
	
	#showcase h1{
		margin-top:40px;
	}
	
	#newsletter button, .dark button{
		/*display:block;
		width:100%;*/
	}
	
	#newsletter form input[type="email"], aside#sidebar form input, aside#sidebar textarea {
		/*width:100%;
		margin-bottom:5px;*/
	}
}
